nav {
 display:flex;
 justify-content: space-around;
 align-items: center;
 min-height: 10vh;
 height: 60px;
 border-radius: 12px;
 position: relative;
 bottom: 664px;
 background: rgb(13, 193, 193)!important;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 color: white;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 5px;
}

nav:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-item {
  margin: 10px;
}

.navbar button{ color: white; font-weight: bold; background-color:rgb(13, 193, 193) ; }
.navbar-nav{  margin-left: 27%; font-weight: 700;}
.navimg{width: 100%;}

.navbar-light .navbar-nav .nav-link {
  color: white !important ; padding-left: 25px;
}

.connect-wallet-button {
    background: white;
    color: black !important;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.connect-wallet-button:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-logo{
  width: 80px;
  height: 80px;
}

.custom-dropdown-toggle::after {
  display:none !important;
}

.custom-dropdown-menu {
  border-radius: 15px !important;
  margin-top: 25px !important;
  padding: 0 0 0 10px !important;
  position: absolute !important;
  z-index: 999 !important;
  margin-left:-24px !important;
}

.custom-dropdown-menu:after, .custom-dropdown-menu:before {
	bottom: 100% !important;
	left: 50% !important;
	border: solid transparent !important;
	content: "" !important;
	height: 0 !important;
	width: 0 !important;
	position: absolute !important;
	pointer-events: none !important;
}

.custom-dropdown-menu:after {
	border-color: rgba(238, 238, 238, 0);
	border-bottom-color: #eeeeee;
	border-width: 7px;
	margin-left: -7px;
}
.custom-dropdown-menu:before {
	border-color: rgba(204, 204, 204, 0) !important;
	border-bottom-color: #cccccc !important;
	border-width: 8px !important;
	margin-left: -8px !important;
}

.custom-dropdown-item {
  text-align: center !important;
}

.custom-dropdown-item:hover {
  background: white !important;
}

.custom-dropdown-item:hover {
  background: white !important;
  color: black !important;
}

.nav-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}